html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#panel{
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 10;
  width: 30%;
  min-width: 700px;
}

#title_search_box {
  width: 80%;
  min-width: 300px;
  height: 20px;
  padding: 5px;
}

a {
  color: #00B7FF;
}

#map-canvas { 
  height: 100% 
}
